

#intro3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

#intro1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

#intro2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

#middle2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

#middle3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

#middle4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

#outro1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

#outro2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

#outro3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.intro {
    position: absolute;   
    top: 80px;
    left: 80px;
    font-size: 60px;
    font-family: cursive;
}

.introp {
    position: absolute;   
    bottom: 30px;
    left: 70px;
    font-size: 60px;
    font-family: cursive;
}